@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");

:root {
  --first-color: #272a3a;
  --first-color-light: #8a8eaa;
  --first-color-lighten: #f8f8fc;
  --body-font: "Ubuntu", sans-serif;
  --extra-font-size: 2.4rem;
  --normal-font-size: 1rem;
  --info-font-size: 1.4rem;
  --smaller-font-size: 0.813rem;
}

body {
  background-color: #e9e9e9;
}

* {
  font-family: var(--body-font);
}
